.menu {
    position: fixed;
    border-right: 1px solid var(--gray);
    background-color: white;
    height: 100%;
    z-index: 1;
    padding: 15px;
}

.menu > ul {
    margin: 0;
    padding: 0;
}

.menu > ul > li {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--gray);
    cursor: pointer;
}

.menu > ul > li:hover {
    opacity: 0.8;
}

.menu > ul > li:last-child { 
    margin-right: 0; 
}

.close {
    margin-bottom: 40px;
}
