.text {
    width: 600px;
}

.text > h3 {
    color: var(--black);
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}

.text > h5 {
    font-weight: 400;
    font-size: 17px;
}

@media (max-width: 897px) {
    .text {
        width: auto;
    }

    .text > h3 {
        text-align: center;
    }
    
    .text > h5 {
        text-align: center;
    }
}