.card {
    width: 350px;
    height: 600px;
    border: 2px solid var(--ivory);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

@media (max-width: 1071px) {
    .card {
        width: 280px;
        margin-bottom: 10px;
    }
}

