.container > h3 {
    color: var(--black);
}

.container > h5 {
    color: var(--gray);
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.container > h5:hover{
    opacity: 0.8;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

@media (max-width: 890px) {
    .menu {
        width: auto;
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }
}