.navbar {
    border-bottom: 1px solid red;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 1200px;
}