.navbar {
    padding: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

@media (max-width: 950px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 424px) {
    .navbar {
        height: 400px;
    }
}