.ribbon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
}

.text > h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.text > h4 {
    margin: 0;
    color: var(--gray);
    font-size: 20px;
    font-weight: 100;
}

.circle {
    background-color: var(--pinkLight);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1203px) {
    .container {
        width: 200px;
        border: none !important;
    }
}

@media (max-width: 622px) {
    .container {
        width: 150px;
        align-items: center;
        flex-direction: column;
    }

    .text {
        text-align: center;
    }

    .circle {
        margin-bottom: 10px;
    }
}

@media (max-width: 470px) {
    .circle {
        width: 50px;
        height: 50px;
    }
    .container {
        width: auto;
    }
}
