.advantages {
    padding: 70px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 897px) {
    .container {
        flex-direction: column;
    }
}