.text {
    width: 800px;
    color: var(--black);
}

.text > h2 {
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 1px;
}

.vpn {
    font-weight: 700;
}

.button {
    width: 200px;
    height: 60px;
}

.title {
    height: 60px;
    margin-top: 15px;
}