.button {
    width: 60px;
    height: 60px;
}

.buttons {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.arrow {
    font-size: 30px;
    font-weight: 700;
}

.rect {
    fill: aqua;
}