.button {
    width: 100%;
    height: 100%;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.buttonPrimary {
    background-color: var(--cupper);
    border: 1px solid var(--cupper);
    box-shadow: 0 0 10px rgba(0,0,0,3); /* Параметры тени */
    padding: 10px;
}

.buttonOutline {
    color: var(--pink);
    border: 1px solid var(--pink);
    background-color: white;
}

.buttonOutline:hover {
    background-color: var(--pink);
    color: white;
    transition: background-color 0.2s;
    --arrow: white;
}
