.menu {
    margin: 0;
    padding: 0;
}

.menu > li {
    display: inline; 
    margin-right: 25px; 
    color: var(--gray);
    cursor: pointer;
}

.menu > li:hover {
    opacity: 0.8;
}

.menu li:last-child { 
    margin-right: 0; 
}
